:host {
  display: block;
  border-bottom: 1px solid var(--surface-border);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 1rem;
  background-color: var(--surface-0);
  box-shadow: var(--shadow-1);
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.cancel-drawing-wrapper {
  margin-left: 1rem;
}
